<a class="text-reset d-none d-sm-block ms-5"
   href="https://twitter.com/intent/tweet?text={{ article_share_text }}"
   onclick="window.open(this.href,'Share {{ article.title }}','width=600,height=600'); return false;"
   target="popup">
    <i class="fab fa-twitter text-dark"></i>&ensp;Share on Twitter
</a>

<a class="text-reset d-block d-sm-none ms-3"
   href="https://twitter.com/intent/tweet?text={{ article_share_text }}"
   onclick="window.open(this.href,'Share {{ article.title }}','width=600,height=600'); return false;"
   target="popup">
    <i class="fab fa-twitter"></i>
</a>

